:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, body {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

code {
  padding: 2px;
  display: inline-flex;
  font-size: 1rem;
  background-color: #bec0c2;
  border-radius: 5px;
}

h1 code {
  font-size: inherit;
}


button.responsive {
  font-size: 1em;       /* button text scales with parent */
  padding: 0.5em 1em;   /* padding scales with font size */
  border: 1px solid black;
  margin: 0.5rem;
}

.big-text {
  font-size: 2rem; /* parent font size is doubled */
}
